-f https://download.pytorch.org/whl/cpu/torch_stable.html
torch==1.13.1+cpu
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
idna==3.4
jsonpatch==1.32
jsonpointer==2.3
networkx==3.0
numpy==1.24.2
packaging==23.0
Pillow==9.4.0
protobuf==3.20.3
pycparser==2.21
pyunicode==0.0.3
PyYAML==6.0
requests==2.28.2
scipy==1.10.1
six==1.16.0
torchaudio==0.13.1
torchvision==0.14.1
tornado==6.2
typing_extensions==4.5.0
urllib3==1.26.15
visdom==0.2.4
websocket-client==1.5.1
